.container {
    width: 90vw;
    height: 60vh;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(5, 5, 20, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container button {
    background-color: var(--button-color);
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 50px; /* Pill shape */
    font-weight: bold;
    font-size: 1.1rem;
    transition: transform 0.2s, box-shadow 0.2s;
    border: none;
}
.container button:active {
    transform: scale(0.92);
    filter: brightness(0.9);
    transition: transform 0.2s;
    background-color: var(--button-hover-color);
}
.content-area {
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content-area img {
    max-height: 100px;
    height: auto;
}
