@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px) scale(0.95);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#root {
    --button-color: #FF69B4;
    --button-hover-color: #b1477d;
}
body {
    animation: fadeUp 0.8s ease-out forwards;
    background: url("./assets/bg.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100dvw;
    overflow-x: hidden;
    overscroll-behavior: none;
}