* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: url("./assets/bg.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}